/*Login and password invalid message*/
p#errorLogin{
    text-align: center;
    color: red;
    font-family: arial, sans-serif;
}
 /* Bordered sign in form */
 form {
    border: none;
  }
  
  /* Full-width inputs -  sign in form */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons -  sign in form */
  button {
    background-color: darkorange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons -  sign in form */
  button:hover {
    opacity: 0.8;
  }
  
  
  /* Add padding to containers - sign in form*/
  .container {
    padding: 16px;
  }